body{
   background-size:1550px 750px;
   background-image:url('https://i.gifer.com/67Z.gif ');
   } 
  .container {
    width: 450px;
    padding: 30px 40px ;
    margin:150px 0px 150px 500px;
    border-radius: 12px;
    box-shadow: 0 0 10px ;
    border:2px rgba(255,0,144,0.2);
    backdrop-filter: blur(5px);
}

.container h2 {
  text-align: center;
}
.ab{
  border-style:solid;
  border-width:4px;
  border-color:rgba(69, 11, 11, 0.575);
  border-radius:5px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:transparent;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  position:relative;
  display:inline-block;
  font-size:16px;
}
#submitButton{
padding-top:10px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

#error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}